@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 18px;
    line-height: 22px;
  }
}

@layer utilities {
  .cards-container {
    overflow: hidden;
    padding-bottom: 20px;
    margin-bottom: -20px;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    user-select: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scroll-grab {
    cursor: grab;
  }

  .scroll-grab:active {
    cursor: grabbing;
  }
} 